---
name: e2e
# Runs the CI end-to-end test network on all pushes to master or release
# branches and every pull request, but only if any Go files have been changed.
on:
  workflow_dispatch: # allow running workflow manually
  pull_request:
  push:
    branches:
      - master
      - release/**

jobs:
  e2e-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        testnet: ["dashcore", "rotate"]
    timeout-minutes: 25
    env:
      FULLNODE_PUBKEY_KEEP: false
      CGO_LDFLAGS: "-L/usr/local/lib -ldashbls -lrelic_s -lgmp -lminialloc"
      CGO_CXXFLAGS: "-I/usr/local/include"
    steps:
      - uses: actions/setup-go@v3.5.0
        with:
          go-version: "1.19"
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: technote-space/get-diff-action@v6
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum

      - uses: ./.github/actions/bls
        name: Install BLS library
        if: "env.GIT_DIFF != ''"

      - name: Build
        working-directory: test/e2e
        # Run two make jobs in parallel, since we can't run steps in parallel.
        run: make -j2 docker runner tests
        if: "env.GIT_DIFF != ''"

      - name: Run CI ${{ matrix.testnet }} testnet
        working-directory: test/e2e
        run: ./build/runner -f networks/${{ matrix.testnet }}.toml
        if: "env.GIT_DIFF != ''"

      - name: Emit ${{ matrix.testnet }} logs on failure
        if: ${{ failure() }}
        working-directory: test/e2e
        run: ./build/runner -f networks/${{ matrix.testnet }}.toml logs > ${{ matrix.testnet }}.log

      - name: Upload ${{ matrix.testnet }} logs
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.testnet }}.log
          path: test/e2e/${{ matrix.testnet }}.log
          retention-days: 7

      - name: Cleanup ${{ matrix.testnet }} configuration
        working-directory: test/e2e
        run: ./build/runner -f networks/${{ matrix.testnet }}.toml cleanup
        if: "env.GIT_DIFF != ''"
