name: Markdown Linter
on:
  pull_request:
    paths:
      - "**.md"
      - "**.yml"
      - "**.yaml"
  push:
    branches:
      - master
      - v[0-9]+.[0-9]+-dev

jobs:
  build:
    name: Super linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libpcap-dev
      - name: Lint Code Base
        uses: github/super-linter@v7
        env:
          VALIDATE_ALL_CODEBASE: true
          DEFAULT_BRANCH: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_MD: true
          VALIDATE_OPENAPI: true
          VALIDATE_YAML: true
          YAML_CONFIG_FILE: yaml-lint.yml
