name: Protobuf Lint
on:
  pull_request:
    paths:
      - "proto/**"
  push:
    branches:
      - master
      - v[0-9]+.[0-9]+-dev

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - uses: bufbuild/buf-setup-action@v1.50.0
        with:
          version: "1.59.0"
      - uses: bufbuild/buf-lint-action@v1
        with:
          input: "proto"
